html,
body {
	background-image: linear-gradient(to right, #7028e4 , #e5b2ca, #00d2ff, #5400f6);
	background-size: 400% 400%;
	animation: AnimationName 15s ease infinite;
}

@keyframes AnimationName {
	0% {
		background-position: 0% 0%
	}

	25% {
		background-position: 100% 0%
	}

	50% {
		background-position: 100% 100%
	}

	75% {
		background-position: 0% 100%
	}

	100% {
		background-position: 0% 0%
	}
}

.container {
	position: relative;
	width: 50%;
	height: 90%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.avatar {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.content {
	width: 100%;
	max-width: 600px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
}

.suppoprt-me {
	display: inline-block;
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 20vw;
	max-width: 250px;
	min-width: 200px;
	z-index: 9;
}

.text-auto {
	margin-top: auto !important;
}

.text-center {
	text-align: center;
}

h3 {
	color: whitesmoke;
}

.wave {
	animation-name: wave-animation;
	animation-duration: 3.5s;
	animation-iteration-count: infinite;
	transform-origin: 70% 70%;
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0.0deg)
	}

	10% {
		transform: rotate(14.0deg)
	}

	20% {
		transform: rotate(-8.0deg)
	}

	30% {
		transform: rotate(14.0deg)
	}

	40% {
		transform: rotate(-4.0deg)
	}

	50% {
		transform: rotate(10.0deg)
	}

	60% {
		transform: rotate(0.0deg)
	}

	100% {
		transform: rotate(0.0deg)
	}
}